body{
	--bg: #FCFCFC;
    --teks: #333333;
    ---nick : #333333;
}

.gelap{
	--bg: #333333;
    --nick: #ff3fa6;
    --teks:#B5B5B5;
 
}

body{
	background-color: var(--bg);
	color: var(--teks);
	margin: 0;
	font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;

}
#container{
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -65%);
	text-align: center;
	font-color : #eeee;

}
#avatar{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	
	
}
#nickname{
	font-weight: 400;
	color : var(--nick);

}	
#konten{
	opacity: 0;
	transform: translate(0, -65px);
	color :var(--teks);
}

#gelap-button{
	left: 2rem;
	top: 2rem;
  	height: 3rem;
  	width: 3rem;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
  color: var(--teks);
}

a:hover, a:active {
  color: #ff3fa6;
}

.links li{
	padding: 0;
	display: inline-block;
	text-align: center;
	margin: 0 5px;
}
